<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Simple forum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"/>
</head>
<body>
<div class="container">

    <form class="form-signin" action="#" th:action="@{/login}" th:object="${form}" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" th:field="*{name}" id="inputName" class="form-control" placeholder="User name"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>

    </form>

</div>

</body>
</html>